<!doctype html>
<html lang="en" ng-app>
  <head>
    <title>TEDi Request Demo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <style>
      body {
        padding: 0;
        margin: 0;
        overflow:hidden;
        font-family: 'Roboto', sans-serif;
      }
      .logo{
        background: url('/img/logo-isokronic.svg') center center no-repeat;
        width: 200px;
        height: 40px;
      }
      .fa-question-circle{
        margin:0 10px 0 10px;
        line-height:30px;
        vertical-align:middle;
      }
      .form-row{
        margin:5px 0px;
      }
      .btn{
        margin: 5px;
      }
      .navbar{
        height:60px;
        padding-right:0;
      }
      .navbar-brand{
        padding:0;
      }
      #menu-tabs{
        margin-top:20px;
        width:400px;
      }
      .sidebar{
        display:block;
        position: absolute;
        right:0;
        top:60px;
        bottom:0;
        width:400px;
        overflow-y:auto;
        overflow-x:hidden;
        padding:10px;
      }
      .sidebar h3{
        margin:15px 0 10px;
      }
      .viewer{
        position: absolute;
        right:400px;
        top:60px;
        left:0;
        bottom:0;
        background-color:#cccccc;
      }
      .tooltip-info{
        visibility: hidden;
        width:250px;
        position:absolute;
        left:15px;
        top:0px;
        background-color:#666666;
        color:white;
        border-radius:5px;
        padding:5px 15px;
        z-index:99;
        line-height:21px;
      }
      .fa-question-circle:hover .tooltip-info{
        visibility: visible;
      }
      
    </style>
    <script src="/js/controller.js"></script>
  </head>
  <body>
    <div ng-controller="Controller">
      <div class="navbar navbar-light bg-light justify-content-between">
        <a class="navbar-brand" href="https://isokronic.com"><div class="logo"></div></a>
        <span class="navbar-text">Data request API v0.1: <a href="https://isokronic.com" class="brand">website</a> or <a href="https://isokronic.com" class="brand">download</a></span>
        <ul class="nav nav-tabs" id="menu-tabs" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="command-tab" data-toggle="tab" href="#command" role="tab" aria-controls="command" aria-selected="true">Commands</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="home-tab" data-toggle="tab" href="#ProjectId" role="tab" aria-controls="ProjectId" aria-selected="false">Project ID</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="profile-tab" data-toggle="tab" href="#PublicKey" role="tab" aria-controls="PublicKey" aria-selected="false">Public Key</a>
            </li>
          </ul>
      </div>
      <div class="sidebar">
          
          <div class="tab-content">
            <div class="tab-pane fade " id="ProjectId" role="tabpanel" aria-labelledby="home-tab">
              <div class="form-group">
                <label><h5>Project ID:</h5></label>
                <input type="text" ng-model="projectId" class="form-control form-control-sm">
              </div>
              <span>If you already have an account on isokronic.com you can set your own project ID. <br>If not you can <a href="https://isokronic.com/signup">create your account</a>.</span>
            </div>
            <div class="tab-pane fade" id="PublicKey" role="tabpanel" aria-labelledby="profile-tab">
              <div class="form-group">
                <label><h5>Public Key:</h5></label>
                <input type="text" ng-model="publicKey" class="form-control form-control-sm">
              </div>
              
                <p>If you already have an account on isokronic.com you can set your own public key. <br>If not you can <a href="https://isokronic.com/signup">create your account</a>.</p>
            </div>
            <div class="tab-pane active" id="command"  role="tabpanel" aria-labelledby="command-tab">
              <div class="d-flex justify-content-start border border-info rounded align-middle" style="padding:5px">
                <span class="col-md-7 align-middle">Available commands:</span>
                <select class="col-md-5 form-control form-control-sm" ng-model="activeTab">
                  <option value="AddObjectCommand" selected>Add Object</option>
                  <option ng-repeat="cmd in commands" data-toggle="tab" value="{{cmd.command}}">{{cmd.title}}</option>
                </select>
              </div>
              <div id="AddObjectCommand" ng-show="activeTab=='AddObjectCommand'">
                <h3>Add Object</h3>
                <form ng-submit="sendObject()" class="form">
                  
                  <div class="form-row" ng-repeat="attr in objectAttr" style="position:relative">
                    
                    <div class="col-md-6" ng-show="attr.type=='select'">
                      <select ng-model="attr.model" class="form-control form-control-sm">
                        <option ng-repeat="allowed in attr.allowed">{{allowed}}</option>
                      </select>
                    </div>
                    <div class="col-md-4" ng-show="attr.name=='color'" >
                      <input class="form-control form-control-sm" type="color" ng-model="attr.model" style="padding:2px;height:38px;">
                    </div>
                    <div class="col-md-6" ng-show="attr.type=='string'"  ng-hide="attr.attributes || attr.type=='select'" >
                      <input class="form-control form-control-sm" type="text" placeholder="{{attr.name}}" ng-model="attr.model" >
                    </div>
                    <div class="col-md-6" ng-show="attr.attributes">
                      <label >{{attr.name}}
                        <i ng-show="attr.info" class="fa fa-question-circle" ng-click="info = !info" ng-init="info=false">
                          <span class="tooltip-info">
                            {{attr.info}}
                          </span>
                        </i>
                      </label>
                    </div>
                    <div class="col-md-2" ng-show="attr.info && !attr.attributes" >
                      <i class="fa fa-question-circle" ng-click="info = !info" ng-init="info=false">
                        <span class="tooltip-info">
                          {{attr.info}}
                        </span>
                      </i>
                    </div>
                    <span ng-show="attr.name=='icon'">Icon : <i id="{{attr.name}}-div" style=""></i></span>
                  
                    <div class="row" style="margin:0">
                      <div class="form-group" ng-repeat="subAttr in attr.attributes">
                        <select ng-show="subAttr.allowed" ng-model="subAttr.model" style="width:100px; float:left;margin: 0 5px" class="form-control form-control-sm">
                          <option ng-repeat="allowed in subAttr.allowed">{{allowed}}</option>
                        </select>
                        <input ng-hide="subAttr.allowed" type="text" placeholder="{{subAttr.name}}" ng-model="subAttr.model" class="form-control form-control-sm" style="width:100px; float:left; margin: 0 5px">
                      </div>
                    </div>
                  </div>
                  <input type="submit" class="btn btn-primary" value="Send">
                </form>
                <div class="form-group" >
                  <h3 ng-show="object.result">Here is your data :</h3>
                  <pre ng-show="object.result"><code>{{object.result}}</code></pre>
                  <ul>
                    <li ng-repeat="e in object.error" style="color:red">{{e}}</li>
                  </ul>
                </div>
              </div>
              <!-- end object form -->
              <!--<button type="button" class="btn btn-sm btn-primary" data-toggle="tab" href="#AddObjectCommand" aria-expanded="true">Add Object</button>-->
              <!--<button type="button" ng-repeat="cmd in commands" class="btn btn-sm btn-primary" data-toggle="tab" href="#{{cmd.command}}" aria-expanded="true">{{cmd.title}}</button>-->
                
              <div id="{{cmd.command}}" ng-repeat="cmd in commands" >
                <div ng-show="activeTab==cmd.command">
                  <h3>{{cmd.title}}</h3>
                  <form ng-submit="send(cmd.command)">
                    <div class="row" style="width:100%;margin:0">
                      <div class="form-group " ng-repeat="v in cmd.values">
                        <label ng-show="v.info">{{v.info}}</label>
                        <input type="text" placeholder="{{v.name}}" ng-model="v.model" style="width:200px; float:left; margin: 0 15px 15px 0px" class="form-control form-control-sm" >
                      </div>
                      <i ng-show="cmd.infos" class="fa fa-question-circle" ng-click="info = !info" ng-init="info=false" style="position:relative">
                        <span class="tooltip-info">
                          <ul class="list-group">
                            <li class="list-group-item" ng-repeat="i in cmd.infos">{{i}}</li>
                          </ul>
                        </span>
                      </i>
                      <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Tooltip on top">?</button>
                    </div>
                    <input type="submit" class="btn btn-primary" value="Send">
                  </form>
                  <div class="form-group" >
                    <h3 ng-show="cmd.result">Here is your data :</h3>
                    <pre ng-show="cmd.result"><code>{{cmd.result}}</code></pre>
                    <ul>
                      <li ng-repeat="e in cmd.error" style="color:red">{{e}}</li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- end commands form-->
            </div>
          </div>
        </div>
        <!-- end sidebar-->
        
        <div class="viewer">
          <iframe width='100%' height='100%' src='https://tedi-twistengine.c9users.io/3d/embed/{{projectId}}?key={{publicKey}}' frameborder='0' allowfullscreen></iframe>
        </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/angular.min.js"></script>
    
    <script>
    //   $('.dropdown-toggle').dropdown()
    </script>
  </body>
</html>
