<!doctype html>
<html lang="en" ng-app>
  <head>
    <title>TEDi Request Demo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <style>
      body {
        padding-top: 60px;
      }
      .fa-question-circle{
        margin:0 10px 0 10px;
        line-height:30px;
        vertical-align:middle;
      }
      .row{
        margin:0;
      }
      .btn{
        margin: 5px;
      }
      .tooltip-info{
        visibility: hidden;
        width:250px;
        position:absolute;
        left:15px;
        top:0px;
        background-color:#666666;
        color:white;
        border-radius:5px;
        padding:5px 15px;
        z-index:99;
        line-height:21px;
      }
      .fa-question-circle:hover .tooltip-info{
        visibility: visible;
      }
    </style>
    <script src="/js/controller.js"></script>
  </head>
  <body>
    <div class="container" ng-controller="Controller">
      <div class="navbar navbar-fixed-top navbar-inverse">
        <div class="navbar-inner">
          <div class="pull-right">
            <a href="https://tedi.twistengine.com" class="brand">TEDi</a>
          </div>
        </div>
      </div>
      <div class="page-header">
        <h1>ISOKRONIC data request</h1>
      </div>
      <div class="row">
        <div class="col">
          <iframe width='560' height='315' src='https://tedi-twistengine.c9users.io/3d/embed/{{projectId}}?key={{publicKey}}' frameborder='0' allowfullscreen></iframe>
        </div>
        <div class="col">
          <button type="button" class="btn btn-primary" data-toggle="tab" href="#AddObjectCommand" aria-expanded="true">Add Object</button>
          <button type="button" ng-repeat="cmd in commands" class="btn btn-primary" data-toggle="tab" href="#{{cmd.command}}" aria-expanded="true">{{cmd.title}}</button>
        </div>
      </div>
      <div class="row tab-content" style="min-height:300px">
        <div  class="tab-pane fade card card-body" id="AddObjectCommand">
          <h3>Add Object</h3>
          <div class="col-md-7">
            <form ng-submit="sendObject()" class="form-row">
              <div class="form-group" ng-repeat="attr in objectAttr" style="position:relative">
                
                <select ng-show="attr.type=='select'" ng-model="attr.model">
                  <option ng-repeat="allowed in attr.allowed">{{allowed}}</option>
                </select>
                <input ng-show="attr.name=='color'" type="color" ng-model="attr.model">
                <input class="form-control" ng-show="attr.type=='string'" ng-hide="attr.attributes || attr.type=='select'" type="text" placeholder="{{attr.name}}" ng-model="attr.model" >
                
                <label ng-show="attr.attributes">{{attr.name}}
                  <i ng-show="attr.info" class="fa fa-question-circle" ng-click="info = !info" ng-init="info=false">
                    <span class="tooltip-info">
                      {{attr.info}}
                    </span>
                  </i>
                </label>
                
                <i ng-show="attr.info && !attr.attributes" class="fa fa-question-circle" ng-click="info = !info" ng-init="info=false">
                  <span class="tooltip-info">
                    {{attr.info}}
                  </span>
                </i>
                
                <span ng-show="attr.name=='icon'">Icon : <i id="{{attr.name}}-div" style=""></i></span>
              
                <div class="row" style="margin:0">
                  <div class="form-group" ng-repeat="subAttr in attr.attributes">
                    <select ng-show="subAttr.allowed" ng-model="subAttr.model" style="width:100px; float:left; margin: 0 15px 15px 0px">
                      <option ng-repeat="allowed in subAttr.allowed">{{allowed}}</option>
                    </select>
                    <input ng-hide="subAttr.allowed" type="text" placeholder="{{subAttr.name}}" ng-model="subAttr.model" class="form-control" style="width:100px; float:left; margin: 0 15px 15px 0px">
                  </div>
                </div>
              </div>
              <input type="submit" class="btn btn-primary" value="Send">
            </form>
          </div>
          <div  class="col-md-4">
            <div class="form-group" >
              <h3 ng-show="object.result">Here is your data :</h3>
              <pre ng-show="object.result"><code>{{object.result}}</code></pre>
              <ul>
                <li ng-repeat="e in object.error" style="color:red">{{e}}</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="{{cmd.command}}" ng-repeat="cmd in commands">
          <h3 class="col-md-12">{{cmd.title}}</h3>
          <div class="col-md-7">
            <form ng-submit="send(cmd.command)">
              <div class="row" style="width:100%;margin:0">
                <div class="form-group " ng-repeat="v in cmd.values">
                  <!--<label ng-show="v.info">{{v.info}}</label>-->
                  <input type="text" placeholder="{{v.name}}" ng-model="v.model" style="width:100px; float:left; margin: 0 15px 15px 0px">
                </div>
                <i ng-show="cmd.infos" class="fa fa-question-circle" ng-click="info = !info" ng-init="info=false" style="position:relative">
                  <span class="tooltip-info">
                    <ul class="list-group">
                      <li class="list-group-item" ng-repeat="i in cmd.infos">{{i}}</li>
                    </ul>
                  </span>
                </i>
                <!--<button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Tooltip on top">?</button>-->
              </div>
              <input type="submit" class="btn btn-primary" value="Send">
            </form>
          </div>
          <div class="col-md-4">
            <div class="form-group" >
              <h3 ng-show="cmd.result">Here is your data :</h3>
              <pre ng-show="cmd.result"><code>{{cmd.result}}</code></pre>
              <ul>
                <li ng-repeat="e in cmd.error" style="color:red">{{e}}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group span3">
        <label><h5>Project ID :</h5></label>
        <input type="text" ng-model="projectId">
      </div>
      <div class="form-group span5">
        <label><h5>Public Key :</h5></label>
        <input type="text" ng-model="publicKey">
      </div>
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th class="span2">Command</th>
            <th class="span8">Values</th>
            <th class="span2">Result</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="span2" >Add Object</td>
            <td class="span4">
              <form ng-submit="sendObject()" class="form-row">
                <div class="form-group" ng-repeat="attr in objectAttr" style="position:relative">
                  
                  <select ng-show="attr.type=='select'" ng-model="attr.model">
                    <option ng-repeat="allowed in attr.allowed">{{allowed}}</option>
                  </select>
                  <input ng-show="attr.name=='color'" type="color" ng-model="attr.model">
                  <input class="form-control" ng-show="attr.type=='string'" ng-hide="attr.attributes || attr.type=='select'" type="text" placeholder="{{attr.name}}" ng-model="attr.model" >
                  
                  <label ng-show="attr.attributes">{{attr.name}}
                    <i ng-show="attr.info" class="fa fa-question-circle" ng-click="info = !info" ng-init="info=false">
                      <span class="tooltip-info">
                        {{attr.info}}
                      </span>
                    </i>
                  </label>
                  
                  <i ng-show="attr.info && !attr.attributes" class="fa fa-question-circle" ng-click="info = !info" ng-init="info=false">
                    <span class="tooltip-info">
                      {{attr.info}}
                    </span>
                  </i>
                  
                  <span ng-show="attr.name=='icon'">Icon : <i id="{{attr.name}}-div" style=""></i></span>
                
                  <div class="row" style="margin:0">
                    <div class="form-group" ng-repeat="subAttr in attr.attributes">
                      <select ng-show="subAttr.allowed" ng-model="subAttr.model" style="width:100px; float:left; margin: 0 15px 15px 0px">
                        <option ng-repeat="allowed in subAttr.allowed">{{allowed}}</option>
                      </select>
                      <input ng-hide="subAttr.allowed" type="text" placeholder="{{subAttr.name}}" ng-model="subAttr.model" class="form-control" style="width:100px; float:left; margin: 0 15px 15px 0px">
                    </div>
                  </div>
                </div>
                <input type="submit" class="btn btn-primary" value="Send">
              </form>
            </td>
            <td class="span4">
              <div class="form-group" >
                <h3 ng-show="object.result">Here is your data :</h3>
                <pre ng-show="object.result"><code>{{object.result}}</code></pre>
                <ul>
                  <li ng-repeat="e in object.error" style="color:red">{{e}}</li>
                </ul>
              </div>
            </td>
          </tr>
          <tr ng-repeat="cmd in commands">
            <td class="span2" ng-bind="cmd.title"></td>
            <td class="span4">
              <form ng-submit="send(cmd.command)">
                <div class="row" style="width:100%;margin:0">
                  <div class="form-group " ng-repeat="v in cmd.values">
                    <!--<label ng-show="v.info">{{v.info}}</label>-->
                    <input type="text" placeholder="{{v.name}}" ng-model="v.model" style="width:100px; float:left; margin: 0 15px 15px 0px">
                    
                  </div>
                  
                  <i ng-show="cmd.infos" class="fa fa-question-circle" ng-click="info = !info" ng-init="info=false" style="position:relative">
                    <span class="tooltip-info">
                      <ul class="list-group">
                        <li class="list-group-item" ng-repeat="i in cmd.infos">{{i}}</li>
                      </ul>
                    </span>
                  </i>
                  <!--<button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Tooltip on top">?</button>-->
                </div>
                <input type="submit" class="btn btn-primary" value="Send">
              </form>
            </td>
            <td class="span4">
              <div class="form-group" >
                <h3 ng-show="cmd.result">Here is your data :</h3>
                <pre ng-show="cmd.result"><code>{{cmd.result}}</code></pre>
                <ul>
                  <li ng-repeat="e in cmd.error" style="color:red">{{e}}</li>
                </ul>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/angular.min.js"></script>
  </body>
</html>
